*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #1d1e1f;
    color: #fff;
    font-family: "Avenir Next Cyr", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url(shelf-top.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    height: 45px;
    width: 600px;
    border-radius: 25px;
    background-color: #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    width: auto;
    border-radius: 0 25px 25px 0;
    height: 100%;
    background: linear-gradient(#0d1518 -19.55%, #d5f2ff 82.49%);
    color: initial;
}

input[type="search"] {
    width: -webkit-fill-available;
    border-radius: 25px 0 0 25px;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 0 0 0;
}

.navigation a {
    background: linear-gradient(#0d1518 -19.55%, #d5f2ff 82.49%);
    border-radius: 4px;
    padding: 2px 15px;
    margin: 0 70px;
}

.navigation {
    padding-top: 480px;
    margin-bottom: 2px;
}

main {
    background-image: url(shelf-middle.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer {
    background-image: url(shelf-bottom.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
}

img {
    width: 200px;
    height: 300px;
}

.shelf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: scale(0.75);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}